<%- include("header") -%>

    <!--<h1>Well.. End of Weekend!!</h1>
    <p>Brew in ☕ n cheer up</p>-->
<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>
    <div class="box">
            <%for(var i=0;i<newListItems.length;i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newListItems[i] %></p>
                </div>
                
            <% } %>
            <form class="item" action="/" method="post">
                <input type="text" name="add" placeholder="New Activity" autocomplete="off">
                <button type="submit" name="list" value="<%= listTitle %>">+</button>
               </form>
    </div>
    
   
<%- include("footer") -%>